{
  "Name": "idphandler",
  "Description": "Command Handler for Idp Protocol v2",
  "Snippet": "[&](std::shared_ptr<IncomingTransaction> incoming, std::shared_ptr<OutgoingTransaction> outgoing) \n{\n\t${Caret}\n\n\treturn IdpResponseCode::OK;\n}"
}